.Container {
  background-color: lightblue;
  height: 35vh;
  width: 24vw;
  border-radius: var(--radii-4);
  box-shadow: var(--shadow-lg);
  margin: var(--spacing-3);
}

.Maximized {
  width: 26vw;
}
